# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python virtual environment
venv/
*.venv/
*.keras
*.pth

# IDE settings
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Model files
*.keras
*.pth
